@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/css3/user-interface"
@import "animation"
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic)
=open-sans
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-style: italic
body
  overflow: hidden
  margin: 0
  padding: 0

canvas
  position: relative

[marker], .next-texture-btn
  opacity: 0.5
  z-index: 1
  position: absolute
  cursor: pointer
  overflow: visible
  font-family: sans-serif
  color: white

[marker]:before
  content: 'ツ'
  font-size: 40px
  height: 40px
  width: 40px


[marker].active
  opacity: 1

.marker-panel
  +open-sans
  text-transform: uppercase
  font-size: 36px
  color: white
  opacity: 1
  position: fixed
  left: 60%
  right: 0
  top: 0
  margin: 20px
  padding: 15px
  background: #111
  opacity: 0.9
  z-index: 11
  border: 1px solid #666
  text-align: center
  .close-btn
    position: absolute
    height: 21px
    width: 21px
    top: 12px
    right: 12px
    opacity: 0.4
    color: black
    background-color: white
    cursor: pointer
    text-align: center
    text-transform: none
    font-style: normal
    font-size: 25px
    line-height: 16px
    &:before
      content: 'x'
.marker-panel-inner
  height: 100%
  width: 100%
.marker-panel-inner-cell
  display: inline-block
.next-texture-btn:before
  content: '=>'
  font-size: 40px
  height: 40px
  width: 40px

[panorama-spinner]
  background-color: black
  position: fixed
  z-index: 2
  height: 100%
  width: 100%
.spinner
  position: relative
  width: 100%
  height: 100%
  opacity: 1
  &:before
    content: 'LOADING, PLEASE WAIT'
    +open-sans
    font-size: 36px
    color: white
    opacity: 1
    display: block
    position: absolute
    bottom: 60px
    left: 50%
    margin-left: -165px

$spinner-width: 240px
.spinner-arm
  +user-select(none)
  width: $spinner-width
  height: 40px
  background: white
  position: absolute
  left: 50%
  margin-left: - 0.5 * $spinner-width
  top: 37%
  opacity: 0

+keyframes(shrink)
  0%, 100%
    height: 50px
  50%
    height: 66px

+keyframes(fade)
  0%, 100%
    opacity: 0.1
  50%
    opacity: 0.4

=spinner-arm($index, $total)
  +simple-transform(1, 360deg * $index / $total, 0, -100%)

$spinner-arms: 23
@for $i from 1 through $spinner-arms
  .spinner-arm-#{$i}
    @extend .spinner-arm
    +spinner-arm($i, $spinner-arms)
    +animation-name(fade, shrink)
    +animation-duration(1s, 8s)
    +animation-timing-function(linear, linear)
    +animation-iteration-count(infinite, infinite)
    +animation-delay(-1s + 0.33s * ($i - 1) / $spinner-arms, 0)
